:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --color-gnome-red: #8a0202;
    --button-bg-color: #ffffff;
    --button-text-color: #000000;
    --transition-duration: 0.1s;
    --playful-bg-color: #ffcccb;
    --playful-text-color: #333333;
    --playful-border-color: #ff7f50;
    --playful-box-shadow: rgba(255, 127, 80, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Comic Neue', cursive;
    color: var(--text-color);
    background-image: url('./img/background3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: var(--text-color);
    text-shadow: 3px 3px var(--color-gnome-red);
    margin-bottom: 20px;
}

.header img {
    margin: 40px;
    height: 300px;
    width: auto;
}

.header-right img {
    transform: scaleX(-1);
}

.header-center {
    margin-top: -100px;
    flex: 1;
}

.title, .ticker {
    font-family: 'Comic Neue', cursive;
}

.title {
    font-size: 6rem;
    margin-bottom: 5px;
}

.ticker {
    font-size: 1.6rem;
    margin-bottom: 5px;
    text-shadow: 2px 2px var(--color-gnome-red);
}

.token-address {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 60px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    animation: glowEffect 2s ease-in-out infinite;
}

@keyframes glowEffect {
    0%, 100% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    }
    50% {
        box-shadow: 0 0 40px rgba(255, 255, 255, 1);
    }
}

.token-address:hover {
    transform: scale(1.1);
    animation: none;
}

.token-address svg {
    margin-left: 5px;
}

/* Button Styles */
nav.buttons {
    margin: -30px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 5px 5px 5px var(--color-gnome-red);
}

.button svg {
    margin-right: 5px;
}

.dex-image {
    margin-right: 5px;
    border-radius: 50%;
}

.button:hover {
    transform: scale(1.1);
    background-color: var(--color-gnome-red);
    color: var(--text-color);
}

.button:hover svg,
.button:hover .dex-image {
    fill: var(--text-color);
    filter: invert(100%);
}

/* General Styles */
hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, var(--color-gnome-red), #ccc);
    margin: 60px 0;
}

/* Cards Section */
.cards-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.cards-section.bottom {
    grid-template-columns: repeat(4, 1fr);
}
.section-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--text-color);
    text-shadow: 2px 2px var(--color-gnome-red);
}

.card img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 1px solid var(--playful-border-color);
    transition: transform var(--transition-duration) ease;
    box-shadow: 0 0 10px var(--playful-box-shadow);
    border-radius: 15px;
}

.card:hover img {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(1.03);
}

/* Memecards Section */
.card-memes img {
    height: 250px;
    width: auto;
}



/* Call to Action Button */
.cta {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform var(--transition-duration) ease;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    box-shadow: 5px 5px 5px var(--color-gnome-red);
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0%, 100% {
        transform: scale(1);
        box-shadow: 5px 5px 5px var(--color-gnome-red);
    }
    50% {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px var(--color-gnome-red);
    }
}

.cta button:hover {
    transform: scale(1.1);
    background-color: var(--color-gnome-red);
    color: var(--text-color);
}

.cta button:hover svg,
.cta button:hover .dex-image {
    fill: var(--text-color);
    filter: invert(100%);
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    animation: moveImage 40s linear infinite;
    animation-delay: 0s;
}

@keyframes moveImage {
    0%, 100% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
}

footer img {
    width: 50px;
    height: auto;
}

/* Disclaimer */
.disclaimer {
    text-align: center;
    font-size: 10px;
    margin-top: 50px;
}
/* Text Section Styles */
.text-section {
    padding: 20px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);

}

.text-section-title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px var(--color-gnome-red);
}



.text-section-content {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
}

/* Media Queries */
@media (max-width: 48em) {
    .header {
        flex-direction: column;
    }

    .header-right img {
        display: none;
    }

    .title {
        font-size: 3rem;
    }

    .text-section-title {
        font-size: 1.5rem;
    }

    .text-section-content {
        font-size: 0.875rem;
    }

    .ticker {
        font-size: 1rem;
    }

    .buttons {
        flex-direction: column;
    }

    .button {
        margin: 10px 0;
    }

    .cards-section {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .cards-section-left {
        margin-bottom: 20px;
    }
}
